@tailwind base;
@tailwind components;
@tailwind utilities;

.on-scroll-hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

.on-scroll-visible {
    opacity: 1;
    transform: translateY(0);
}